doctype html
html(lang="en")
    head
        title=Stats
    body
        div.container
            div.row
                h1 Stats
            div.row
                .link-id
                    | ID: #{id}
                .clicks
                    | user-agent: #{clicks.length}
